.concern-icon-lg {
    width: 300px;
    margin-top: 50px;
}

.concern-title {
    font-weight: 700;
    font-size: 3em;
    @include media-breakpoint-down(sm) {
        font-size: 2.5em;
    }
}

.concern-caption {
    font-size: 1.2em;
}

.concern-txt-box {
    border: none;
}