$font-family-sans-serif: 'Poppins', sans-serif;

$indigo:      #3943B7;
$grey:          #E6E6E6;
$primary:       $indigo;
$secondary:     $grey;

$border-radius:               20px;
$border-radius-lg:            25px;
$border-radius-sm:            20px;