.hw-100v {
    height: 100vh;
    min-height: 500px;
    width: 100%;
}

.h-100v {
    min-height: 100vh;
    padding-top: 88px;
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
    }
}

.p-navbar {
    padding-top: 76px;
    @include media-breakpoint-down(sm) {
        padding-top: 76px;
    }
}

.page-title {
    font-weight: 600;
}

.ox-hidden {
    overflow-x: hidden;  
}

.br-50 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.b-r-50 {
    border-radius: 50px;
}

.fw {
    &.black {
        font-weight: 900;
    }
    &.bold {
        font-weight: bold;
    }
    &.regular {
        font-weight: normal;
    }
    &.light {
        font-weight: 300;
    }
}